<p id="notice"><%= notice %></p>

<p>
  <strong>Textitem  c:</strong>
  <%= @forheroku.textitem__c %>
</p>

<%= link_to 'Edit', edit_forheroku_path(@forheroku) %> |
<%= link_to 'Back', forherokus_path %>
